DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=123456
DB_PORT=5432
DB_DATABASE=task_js

ACCESS_TOKEN_SECRET=TO_ADD
ACCESS_TOKEN_DURATION=TO_ADD # e.g 30m for 30 minutes, 1h for 1 hour, 1d for 1 day
REFRESH_TOKEN_SECRET=TO_ADD
REFRESH_TOKEN_DURATION=TO_ADD # number of minutes

COOKIE_AUTH=TO_ADD # e.g Authentication, this is the name of the cookie used for authentication

INVITE_PREFIX=TO_ADD # e.g task_app/invite

FIREBASE_PROJECT_ID=TO_ADD # get from Firebase console
FIREBASE_CLIENT_EMAIL=TO_ADD # get from Firebase console
FIREBASE_PRIVATE_KEY=TO_ADD # get from Firebase console