DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=123456
DB_PORT=5432
DB_DATABASE=task_js

ACCESS_TOKEN_SECRET=TO_ADD
ACCESS_TOKEN_DURATION=TO_ADD
REFRESH_TOKEN_SECRET=TO_ADD
REFRESH_TOKEN_DURATION=TO_ADD

COOKIE_AUTH=TO_ADD

INVITE_PREFIX=TO_ADD

FIREBASE_PROJECT_ID=TO_ADD
FIREBASE_CLIENT_EMAIL=TO_ADD
FIREBASE_PRIVATE_KEY=TO_ADD